src/pythonKarabo/tests/resources/TestClass3_etalon.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="http://www.karabo.eu">
  <xs:element name="TestClass3">
    <xs:complexType>
      <xs:all>
        <xs:element name="myConnection" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              <a:description>my Connection description</a:description>
              <a:displayedName>my Element Connection</a:displayedName>
              <a:expertLevel>0</a:expertLevel>
              <a:default>Snmp</a:default>
              <a:accessType>4</a:accessType>
              <a:displayType>Connection</a:displayType>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice>
              <xs:element name="Snmp">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="hashSerialization" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>Decides which protocol should be used in order to transfer a Hash object</a:description>
                          <a:displayedName>Hash Serialization</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>Bin</a:default>
                          <a:accessType>1</a:accessType>
                          <a:displayType>Format</a:displayType>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:choice>
                          <xs:element name="Bin">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="separator" type="xs:string" default="&#x0A;" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>Separator symbol used to represent Hash hierarchy</a:description>
                                      <a:displayedName>Separator</a:displayedName>
                                      <a:expertLevel>0</a:expertLevel>
                                      <a:default>&#x0A;</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Xml">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="indentation" default="2" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>Set the indent characters for printing. Value -1: the most dense formatting without linebreaks. Value 0: no indentation, value 1/2/3: one/two/three space indentation. If not set, default is 2 spaces.</a:description>
                                      <a:displayedName>Indentation</a:displayedName>
                                      <a:expertLevel>2</a:expertLevel>
                                      <a:default>2</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                      <xs:enumeration value="-1" />
                                      <xs:enumeration value="0" />
                                      <xs:enumeration value="1" />
                                      <xs:enumeration value="2" />
                                      <xs:enumeration value="3" />
                                      <xs:enumeration value="4" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="printDataType" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>Default value is false (or 0). In order to print data types information in XML document, set this parameter to true (or 1).</a:description>
                                      <a:displayedName>Printing data types</a:displayedName>
                                      <a:expertLevel>2</a:expertLevel>
                                      <a:default>false</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="ignoreDataType" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>If this flag is true, any data type information will be ignored upon reading. Leave elements will always be interpreted as strings.</a:description>
                                      <a:displayedName>Ignore data type</a:displayedName>
                                      <a:expertLevel>2</a:expertLevel>
                                      <a:default>false</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="xmlns" type="xs:string" default="http://xfel.eu/config" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>Sets the default XML namespace</a:description>
                                      <a:displayedName>XML Namespace</a:displayedName>
                                      <a:expertLevel>2</a:expertLevel>
                                      <a:default>http://xfel.eu/config</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sizeofLength" type="xs:unsignedInt" default="4" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>The size of messageLength field in communication protocol</a:description>
                          <a:displayedName>Size of Message Length</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>4</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="hostname" type="xs:string" default="localhost" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>IP hostname of a CPU running SNMP Agent</a:description>
                          <a:displayedName>Hostname</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>localhost</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="port" type="xs:unsignedInt" default="161" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>Port listened by SNMP Agent</a:description>
                          <a:displayedName>Port</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>161</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="version" default="2" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>Version of SNMP protocol</a:description>
                          <a:displayedName>Version</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>2</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="1" />
                          <xs:enumeration value="2" />
                          <xs:enumeration value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="community" type="xs:string" default="public" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>Community parameter defining a subset of keys available for retrieving from SNMP Agent</a:description>
                          <a:displayedName>Community</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>public</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="aliasMode" default="NoSchema" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>Behavior mode of key-to-alias and alias-to-key conversions</a:description>
                          <a:displayedName>Alias Mode</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>NoSchema</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="NoSchema" />
                          <xs:enumeration value="Schema" />
                          <xs:enumeration value="SchemaOnly" />
                          <xs:enumeration value="SchemaOnlyWithException" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="Tcp">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="hashSerialization" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>Decides which protocol should be used in order to transfer a Hash object</a:description>
                          <a:displayedName>Hash Serialization</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>Bin</a:default>
                          <a:accessType>1</a:accessType>
                          <a:displayType>Format</a:displayType>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:choice>
                          <xs:element name="Bin">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="separator" type="xs:string" default="&#x0A;" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>Separator symbol used to represent Hash hierarchy</a:description>
                                      <a:displayedName>Separator</a:displayedName>
                                      <a:expertLevel>0</a:expertLevel>
                                      <a:default>&#x0A;</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Xml">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="indentation" default="2" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>Set the indent characters for printing. Value -1: the most dense formatting without linebreaks. Value 0: no indentation, value 1/2/3: one/two/three space indentation. If not set, default is 2 spaces.</a:description>
                                      <a:displayedName>Indentation</a:displayedName>
                                      <a:expertLevel>2</a:expertLevel>
                                      <a:default>2</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                      <xs:enumeration value="-1" />
                                      <xs:enumeration value="0" />
                                      <xs:enumeration value="1" />
                                      <xs:enumeration value="2" />
                                      <xs:enumeration value="3" />
                                      <xs:enumeration value="4" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="printDataType" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>Default value is false (or 0). In order to print data types information in XML document, set this parameter to true (or 1).</a:description>
                                      <a:displayedName>Printing data types</a:displayedName>
                                      <a:expertLevel>2</a:expertLevel>
                                      <a:default>false</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="ignoreDataType" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>If this flag is true, any data type information will be ignored upon reading. Leave elements will always be interpreted as strings.</a:description>
                                      <a:displayedName>Ignore data type</a:displayedName>
                                      <a:expertLevel>2</a:expertLevel>
                                      <a:default>false</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="xmlns" type="xs:string" default="http://xfel.eu/config" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>Sets the default XML namespace</a:description>
                                      <a:displayedName>XML Namespace</a:displayedName>
                                      <a:expertLevel>2</a:expertLevel>
                                      <a:default>http://xfel.eu/config</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sizeofLength" type="xs:unsignedInt" default="4" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>The size of messageLength field in communication protocol</a:description>
                          <a:displayedName>Size of Message Length</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>4</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="type" default="client" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>Decide whether the connection is used to implement a TCP Server or TCP Client</a:description>
                          <a:displayedName>Connection Type</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>client</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="server" />
                          <xs:enumeration value="client" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="hostname" type="xs:string" default="localhost" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>Hostname of a peer (used only for client)</a:description>
                          <a:displayedName>Hostname</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>localhost</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="port" type="xs:unsignedInt" default="11111" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>Hostport of a peer for type &apos;client&apos; and local port for type &apos;server&apos;</a:description>
                          <a:displayedName>Hostport</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>11111</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="Udp">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="hashSerialization" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>Decides which protocol should be used in order to transfer a Hash object</a:description>
                          <a:displayedName>Hash Serialization</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>Bin</a:default>
                          <a:accessType>1</a:accessType>
                          <a:displayType>Format</a:displayType>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:choice>
                          <xs:element name="Bin">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="separator" type="xs:string" default="&#x0A;" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>Separator symbol used to represent Hash hierarchy</a:description>
                                      <a:displayedName>Separator</a:displayedName>
                                      <a:expertLevel>0</a:expertLevel>
                                      <a:default>&#x0A;</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Xml">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="indentation" default="2" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>Set the indent characters for printing. Value -1: the most dense formatting without linebreaks. Value 0: no indentation, value 1/2/3: one/two/three space indentation. If not set, default is 2 spaces.</a:description>
                                      <a:displayedName>Indentation</a:displayedName>
                                      <a:expertLevel>2</a:expertLevel>
                                      <a:default>2</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                      <xs:enumeration value="-1" />
                                      <xs:enumeration value="0" />
                                      <xs:enumeration value="1" />
                                      <xs:enumeration value="2" />
                                      <xs:enumeration value="3" />
                                      <xs:enumeration value="4" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="printDataType" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>Default value is false (or 0). In order to print data types information in XML document, set this parameter to true (or 1).</a:description>
                                      <a:displayedName>Printing data types</a:displayedName>
                                      <a:expertLevel>2</a:expertLevel>
                                      <a:default>false</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="ignoreDataType" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>If this flag is true, any data type information will be ignored upon reading. Leave elements will always be interpreted as strings.</a:description>
                                      <a:displayedName>Ignore data type</a:displayedName>
                                      <a:expertLevel>2</a:expertLevel>
                                      <a:default>false</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="xmlns" type="xs:string" default="http://xfel.eu/config" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>
                                      <a:description>Sets the default XML namespace</a:description>
                                      <a:displayedName>XML Namespace</a:displayedName>
                                      <a:expertLevel>2</a:expertLevel>
                                      <a:default>http://xfel.eu/config</a:default>
                                      <a:accessType>1</a:accessType>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sizeofLength" type="xs:unsignedInt" default="4" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>The size of messageLength field in communication protocol</a:description>
                          <a:displayedName>Size of Message Length</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>4</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="type" default="client" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>Decide whether the connection is used to implement a UDP Server or UDP Client</a:description>
                          <a:displayedName>Connection Type</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>client</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="server" />
                          <xs:enumeration value="client" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="hostname" type="xs:string" default="localhost" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>Hostname of a peer (used only for client)</a:description>
                          <a:displayedName>Hostname</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>localhost</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="port" type="xs:unsignedShort" default="11111" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>Hostport of a peer for type &apos;client&apos; and local port for type &apos;server&apos;</a:description>
                          <a:displayedName>Hostport</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>11111</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="maxlen" type="xs:unsignedInt" default="1024" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          <a:description>Maximal message length used in datagram (UDP protocol)</a:description>
                          <a:displayedName>UDP Maxlen</a:displayedName>
                          <a:expertLevel>0</a:expertLevel>
                          <a:default>1024</a:default>
                          <a:accessType>1</a:accessType>
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="myImage" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              <a:description>myImage description</a:description>
              <a:displayedName>myImage</a:displayedName>
              <a:expertLevel>0</a:expertLevel>
              <a:default>0</a:default>
              <a:accessType>2</a:accessType>
              <a:displayType>Image</a:displayType>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="dimX" type="xs:unsignedInt" default="0" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:description>Dimensionality along X</a:description>
                    <a:displayedName>Dimension X</a:displayedName>
                    <a:expertLevel>0</a:expertLevel>
                    <a:default>0</a:default>
                    <a:accessType>2</a:accessType>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dimY" type="xs:unsignedInt" default="0" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:description>Dimensionality along Y</a:description>
                    <a:displayedName>Dimension Y</a:displayedName>
                    <a:expertLevel>0</a:expertLevel>
                    <a:default>0</a:default>
                    <a:accessType>2</a:accessType>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dimZ" type="xs:unsignedInt" default="0" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:description>Dimensionality along Z</a:description>
                    <a:displayedName>Dimension Z</a:displayedName>
                    <a:expertLevel>0</a:expertLevel>
                    <a:default>0</a:default>
                    <a:accessType>2</a:accessType>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dimC" type="xs:unsignedInt" default="0" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:description>Dimensionality along C</a:description>
                    <a:displayedName>Dimension C</a:displayedName>
                    <a:expertLevel>0</a:expertLevel>
                    <a:default>0</a:default>
                    <a:accessType>2</a:accessType>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="pixelArray" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:description>Linear representation (row-wise) of the image pixels</a:description>
                    <a:displayedName>Pixel array</a:displayedName>
                    <a:expertLevel>0</a:expertLevel>
                    <a:default>0</a:default>
                    <a:accessType>2</a:accessType>
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="item" maxOccurs="unbounded">
                      <xs:simpleType>
                        <xs:restriction base="xs:int" />
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="dataType" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="myImage2" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              <a:description>myImage description next</a:description>
              <a:displayedName>myImage2</a:displayedName>
              <a:expertLevel>0</a:expertLevel>
              <a:default>0</a:default>
              <a:accessType>2</a:accessType>
              <a:displayType>Image</a:displayType>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="dimX" type="xs:unsignedInt" default="0" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:description>Dimensionality along X</a:description>
                    <a:displayedName>Dimension X</a:displayedName>
                    <a:expertLevel>0</a:expertLevel>
                    <a:default>0</a:default>
                    <a:accessType>2</a:accessType>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dimY" type="xs:unsignedInt" default="0" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:description>Dimensionality along Y</a:description>
                    <a:displayedName>Dimension Y</a:displayedName>
                    <a:expertLevel>0</a:expertLevel>
                    <a:default>0</a:default>
                    <a:accessType>2</a:accessType>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dimZ" type="xs:unsignedInt" default="0" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:description>Dimensionality along Z</a:description>
                    <a:displayedName>Dimension Z</a:displayedName>
                    <a:expertLevel>0</a:expertLevel>
                    <a:default>0</a:default>
                    <a:accessType>2</a:accessType>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dimC" type="xs:unsignedInt" default="0" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:description>Dimensionality along C</a:description>
                    <a:displayedName>Dimension C</a:displayedName>
                    <a:expertLevel>0</a:expertLevel>
                    <a:default>0</a:default>
                    <a:accessType>2</a:accessType>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="pixelArray" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:description>Linear representation (row-wise) of the image pixels</a:description>
                    <a:displayedName>Pixel array</a:displayedName>
                    <a:expertLevel>0</a:expertLevel>
                    <a:default>0</a:default>
                    <a:accessType>2</a:accessType>
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="item" maxOccurs="unbounded">
                      <xs:simpleType>
                        <xs:restriction base="xs:double" />
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="dataType" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="SomeCustomerElement" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              <a:description>someCustomerElement description</a:description>
              <a:displayedName>someCustomerElement</a:displayedName>
              <a:expertLevel>0</a:expertLevel>
              <a:default>0</a:default>
              <a:accessType>2</a:accessType>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="myNewInt" type="xs:int" default="7" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:description>Input new integer element</a:description>
                    <a:displayedName>myNewIntegerElement</a:displayedName>
                    <a:expertLevel>0</a:expertLevel>
                    <a:default>7</a:default>
                    <a:accessType>4</a:accessType>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="myNewString" default="Hello" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:description>Input NEW string element</a:description>
                    <a:displayedName>myNewStringElement</a:displayedName>
                    <a:expertLevel>0</a:expertLevel>
                    <a:default>Hello</a:default>
                    <a:accessType>4</a:accessType>
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="test" />
                    <xs:enumeration value="Hello" />
                    <xs:enumeration value="World" />
                    <xs:enumeration value="new" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="overwriteElemKey" type="xs:boolean" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              <a:displayedName>overwriteElemKey</a:displayedName>
              <a:expertLevel>0</a:expertLevel>
              <a:accessType>7</a:accessType>
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="temperature" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              <a:description>Configures the temperature to which the device should be cooled</a:description>
              <a:displayedName>Sensor temperature</a:displayedName>
              <a:expertLevel>0</a:expertLevel>
              <a:accessType>6</a:accessType>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="target" default="0.000000" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:displayedName>Target Value</a:displayedName>
                    <a:expertLevel>0</a:expertLevel>
                    <a:unitName>degree celsius</a:unitName>
                    <a:unitSymbol>deg</a:unitSymbol>
                    <a:default>0.000000</a:default>
                    <a:accessType>4</a:accessType>
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:double">
                    <xs:minInclusive value="-50.000000" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="actual" type="xs:double" default="0" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:displayedName>Actual Value</a:displayedName>
                    <a:expertLevel>0</a:expertLevel>
                    <a:unitName>degree celsius</a:unitName>
                    <a:unitSymbol>deg</a:unitSymbol>
                    <a:default>0</a:default>
                    <a:accessType>2</a:accessType>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="warnHigh" type="xs:double" default="23.000000" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:description>If the actual value reaches of exceeds this threshold a warning will be triggered</a:description>
                    <a:displayedName>Warn High</a:displayedName>
                    <a:expertLevel>2</a:expertLevel>
                    <a:default>23.000000</a:default>
                    <a:accessType>4</a:accessType>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="alarmHigh" type="xs:double" default="40.000000" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>
                    <a:description>If the actual value reaches of exceeds this threshold a warning will be triggered</a:description>
                    <a:displayedName>Alarm High</a:displayedName>
                    <a:expertLevel>2</a:expertLevel>
                    <a:default>40.000000</a:default>
                    <a:accessType>4</a:accessType>
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
